<?xml version="1.0" encoding="UTF-8"?>
<suite name="Taiga API Automation" parralel="false" thread-count="1">

    <listeners>
        <listener class-name="io.taiga.listeners.RetryListener"></listener>
    </listeners>
<!--    <pakages>-->
<!--        <pacakge>io.taiga*</pacakge>-->
<!--    </pakages>-->
    <test name="Taiga Project Area">
        <classes>
            <class name="io.taiga.ProjectTest"/>
            <class name="io.taiga.IssueTest"/>
            <class name="io.taiga.TaigaLogin"/>
            <class name="io.taiga.UserStoryTest"/>
        </classes>
    </test>

</suite>